@using SupportGestor.Models
@using SupportGestor.ViewModels
@using SupportGestor.Services
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IAtendimentoServices AtendimentoService

@page "/Atendimento"

<h3>Atendimentos</h3> 

<div>
    <div class="padding-4 ConteudoLancarAtendimento">
        <input type="text" name="Nome" @bind="viewModel.Nome" />
        <input type="text" name="Cliente" @bind="viewModel.Cliente" />
        <input type="text" name="Problema" @bind="viewModel.NotasAtendimento"/>
        <select name="NivelDificuldade"class="BotaoCascata" @bind="viewModel.NivelDificuldade">
            <option class="Facil" value="1">1 Facil</option>
            <option class="Razoavel" value="2">2 Razoavel</option>
            <option class="Medio" value="3">3 Media</option>
            <option class="Complexo" value="4">4 Complexo</option>
            <option class="Dificil" value="5">5 Dificil</option>
        </select>
        <button class="BotaoSimples" type="submit" @onclick="Salvar" >Salvar</button>
    </div>
    <div>
    </div>
</div>

@code {
    private AtendimentoViewModel viewModel = new AtendimentoViewModel();

    private async Task Salvar()
    {
        await viewModel.Salvar();
    }

    protected override Task OnInitializedAsync()
    {
        if(AtendimentoId > 0)
    }

}