@page "/Atendimento"

<h3>Atendimentos</h3>

<div>
<div>
    <input type="text" name="Nome" @bind="Nome" />
    <input type="text" name="Cliente" @bind="Cliente"/>
    <input type="text" name="Problema" @bind="Problema">
    <select class="p-4">
            <option value="Facil">1 Facil</option>
            <option value="Razoavel">2 Razoavel</option>
            <option value="Media">3 Media</option>
            <option value="Complicado">4 Complicado</option>
            <option value="Dificl">5 Dificil</option>
    </select>
</div>
<div>

</div>
</div>

@code {
    public string Nome;
    public string Cliente;
    public string Problema;
    public int NivelDificuldade;
}
